.BookingDetails {
  margin-top: 1.6rem;
  
  .d-flex {
    @include for-mobile {
      flex-direction: column;
    }
  }

  .venue {
    margin-top: 2rem;
    padding: 2rem;
    
    background-color: $secondary-background-color;
    border-radius: $border-radius;
  }
  
  .venue .top {
    display: flex;
    justify-content: space-between;

    @include for-mobile {
      flex-direction: column;
    }
  }

  .icon-group {
    margin-top: .6rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    @include for-mobile {
      margin-top: 0.2rem;
    }
  }

  .icon {
    color: $text-color-disabled;
  }

  .venue .top .left {
    display: flex;
    flex-direction: column;
    gap: .7rem;

    @include for-mobile {
      order: 2; 
    }

    .heading-2 {
      @include for-mobile {
        text-align: center;
        margin-top: 1rem;
      }
    }
  }

  .venue .top .right {
    display: flex;
    gap: 1rem;

    @include for-mobile {
      flex-direction: column;
      gap: .6rem;
    }
  }

  .venue .top .right .img-l {
    width: 37.8rem;
    height: 20rem;

    @include for-mobile {
      width: 100%;
      height: 10rem;
    }
  }
  .venue .top .right .img-s {
    width: 17rem;
    height: 9.5rem;
    
    @include for-mobile {
      width: 100%;
      height: 5rem;
    }
  }

  .venue .top .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }

  .smaller {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-mobile {
      flex-direction: row;
      gap: .7rem;
    }
  }

  .amenities {
    display: flex;
    gap: 1.5rem;

    @include for-mobile {
      flex-wrap: wrap;
    }
  }

  .icon-column {
    gap: .6rem;
  }

  .icon-column .icon {
    font-size: 1.4em;
  }

  .venue .bottom {
    display: flex;
    justify-content: space-between;
    gap: 2.9rem;

    @include for-mobile {
      flex-direction: column;
      gap: 0;
    }
  }

  .venue .bottom .left {
    width: 100%;
    flex: 2;
  }
  .venue .bottom .right {
    width: 100%;
    flex: 3;
  }

  .contact-card {
    width: 100%;
    margin-top: 1.5rem;
    background: $gradient-gray;
    border-radius: $border-radius;
    padding: 2rem 4rem;

    display: flex;
    justify-content: space-between;

    @include for-mobile {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2rem;
      padding: 1rem;
    }
  }

  .info-group {
    margin-top: 2rem;
  }


  .location {
    margin-top: 3rem;
  }

  .location .top {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;

    @include for-mobile {
      flex-direction: column;
    }
  }

  .location .top .image {
    width: 100%;
    max-width: 34.5rem;
    height: 18rem;
    border-radius: $border-radius;
    overflow: hidden;

    @include for-mobile {
      height: 10rem;
    }
  }
  .location .top .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .directions {
    width: 100%;
    background: $gradient-gray;
    border-radius: $border-radius;
    padding: 2rem;

    @include for-mobile {
      text-align: center;
    }
  }

  .vehicles {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    @include for-mobile {
      flex-direction: column;
      gap: 2rem;
    }
  }
  
  .vehicle-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
  }

  .vehicle-group .icon {
    font-size: 3em;
    color: $text-color-disabled;
    margin-bottom: 1rem;

    @include for-mobile {
      font-size: 2em;
    }
  }
  .maps {
    margin-top: 1rem;
    border-radius: $border-radius;
    overflow: hidden;
    height: 25rem;
  }

  
  .billing {
    margin-top: 2rem;
    background-color: $contrast-background-color;
    border-radius: $border-radius;
    padding: 2rem 3rem;

    @include for-mobile {
      padding: 2rem 1rem;
    }
  }

  .price-table {
    margin-top: 3rem;
    width: 100%;
    border-spacing: 0 1rem;

    @include for-mobile {
      font-size: 10px;
    }
  }
  
  .overflow-auto {
    overflow: auto;
  }

  .price-table .text-l {
    text-align: left;
    width: 30%;
  }
  .price-table .text-r {
    text-align: right;
  }

  .price-table .divider {
    border-bottom: 1px solid $text-color-disabled;
  }

  .price-table .bold {
    font-weight: $type-bold;
  }

}