.Confirmation {
  margin: 2rem auto;
  background: $gradient-gray;
  max-width: 60rem;
  height: 30rem;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  padding: 5rem 13rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  @include for-mobile {
    max-width: 100%;
    padding: 2rem;
  }

  .heading-1 {
    margin-bottom: .7rem;
  }
  .icon {
    color: $accent-color;
    font-size: 5em;

    @include for-mobile {
      font-size: 4em;
    }
  }

}