.ContactForm {
  width: 100%;
  background-color: $contrast-background-color;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-mobile {
    padding: 2rem;
  }

  .body {
    margin-bottom: 2rem;
    text-align: center;
    max-width: 30rem;
  }

  textarea {
    height: 9rem;
  }


  button {
    align-self: flex-end;

    @include for-mobile {
      width: 100%;
      margin-top: 1rem;
    }
  }
}