.Footer {
  padding: 6.6rem 7.2rem 2.2rem 7.2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-end;


  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-mobile {
      flex-direction: column;
    }
  }

  .logo {
    width: 7.7rem;
  }

  .footer-links {
    display: flex;
    gap: 2.8rem;
    list-style: none;

    @include for-mobile {
      margin-top: 1rem;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  .footer-link {
    color: $text-color;
    text-decoration: none;
  }

  .some-links {
    display: flex;
    gap: .5rem;
    font-size: 1.5em;
    color: $contrast-background-color;

    @include for-mobile {
      margin-top: 2rem;
    }
  }

  .divider {
    width: 100%;
    height: .18rem;
    background-color: $contrast-background-color;
    margin-block: 1.3rem;
  }

  .payment-options {
    align-self: flex-end;
    font-size: 1.5em;
    display: flex;
    gap: .5rem;
    color: $text-color-disabled;

    @include for-mobile {
      align-self: center;
      margin-bottom: 1rem;
    }
  }

  p.small {
    color: $text-color-disabled;
    align-self: center;
  }

} 