.form-input {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  

  input {
    width: 100%;
    font-family: $font-stack;
    font-size: 1em;
    background-color: $input-color;
    color: $text-color;
    border-radius: $border-radius;
    outline: none;
    border: none;
    padding: .6rem;
    margin-top: .4rem;
  }
}