
// Media Query

@mixin for-large-screen {
  @media (min-width: '1280px') {
    @content;
  }
}

@mixin for-mobile {
  @media(max-width: '1000px') {
    @content;
  }
}


@mixin button($clr, $hover-clr) {
  color: $text-color;
  background: $clr;
  padding: .7rem 2.75rem;
  border-radius: 1.25rem;
  border: none;
  outline: none;
  font-family: $font-stack;
  font-size: $type-button;
  font-weight: $type-bold;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: $hover-clr;
  }
  
  &:active {
    background: $hover-clr;
  }
}