// TYPE
$font-stack: 'DM Sans', sans-serif;

$type-regular: 400;
$type-bold: 700;

// font size
$heading-1: 1.75em;
$heading-2: 1.25em;
$heading-3: .9em;

$type-body: 1.25em;
$type-small: .8em;

$type-button: 1em;
$type-link: .8em;
$type-input: 1em;

$mobile-heading-1: 30px;
$mobile-heading-2: 18px;
$mobile-type-body: 14px;
$mobile-type-small: 12px;



// COLORS

$accent-color: #ce6ad0;
$background-color: #121212;
$secondary-background-color: #171717;
$contrast-background-color: #252525;
$light-contrast-background-color: #3f3f3f;

$text-color: #fff;
$text-color-disabled: #a3a3a3;
$input-color: #171717;

$gradient-pink: linear-gradient(232deg, #DC84DE -0.46%, #CE6AD0 46.2%, #C64FC8 89.11%);
$gradient-pink-hover: linear-gradient(232deg, #C64FC8 -0.46%, #CE6AD0 46.2%, #DC84DE 89.11%);

$gradient-gray: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
$gradient-gray-hover: linear-gradient(254deg, #171717 11.07%, #252525 84.69%);

$img-gradient: linear-gradient(180deg, rgba(26, 26, 26, 0.69) 27.49%, rgba(0, 0, 0, 0.00) 87.65%);

// BORDER RADIUS
$border-radius: .5rem;