@import './ImageCarousel';

.VenueDetails {
  margin-top: 2rem;

  .name {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    @include for-mobile {
      flex-direction: column;
      align-items: center;
      gap: .4rem
    }
  }

  .like {
    gap: .5rem;
  }

  .d-flex.like {
    @include for-mobile {
      flex-direction: row;
    }
  }

  .main {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;

    @include for-mobile {
      flex-direction: column;
    }
  }

  .main .left,
  .main .right { 
    flex: 1; 
  }

  .main .right {
    display: flex;
    flex-direction: column;
  }
  
  .grouping {
    margin-bottom: 2rem;
  }

  .grouping .heading-2 {
    margin-bottom: 1.3rem;
  }

  .icons {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

    @include for-mobile {
      flex-wrap: wrap;
    }
  }

  .icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
  }

  .icon {
    font-size: 1.4em;
  }

  .list {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .equipment-list {
    background: $contrast-background-color;
    border-radius: $border-radius;
    padding: 1.5rem 2rem;
    margin-top: 1rem;
  }

  .equipment-list .small {
    margin-bottom: .5rem;

    @include for-mobile {
      margin-bottom: 1rem;
    }
  }

  .chevron {
    font-size: .8em;
  }

  .furniture-arrangements {
    margin-top: 3rem;
    display: flex;
    gap: 4rem;

    @include for-mobile {
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  .furniture-arrangements .flex-column {
    justify-content: space-between;
  }

  .room-icon {
    width: 5rem;
    margin-bottom: .7rem;
  }
  

  .bookingForm {
    background-color: $contrast-background-color;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;

    @include for-mobile {
      padding: 3rem 1.5rem;
    }
  }

  .input-group:first-of-type {
    margin-top: 3rem;
  }

  .checkbox-group {
    align-self: flex-start;
    margin-top: 1rem;
  }

  .pricing {
    margin-block: 3rem 1rem;
    width: 100%;
  }

  .d-flex {
    margin-bottom: .5rem;
  }

  .btn-primary {
    width: 100%;
    margin-bottom: 1rem;
  }

  .contact-info {
    margin-top: 1.5rem;
    background: $gradient-gray;
    border-radius: $border-radius;
    padding: 2rem 3rem;

    display: flex;

    @include for-mobile {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
    }
  }

  .error {
    margin-top: 1rem;
    color: rgb(165, 124, 124);
  }
}